services:
  rails: &rails
    build:
      context: ./docker/rails
    image: ghcr.io/hitobito/development/rails
    user: "${RAILS_UID:-1000}"
    tty: true
    stdin_open: true
    depends_on:
      - postgres
      - mailcatcher
      - cache
      - webpack
    env_file: docker/rails/env
    environment:
      WEBPACKER_DEV_SERVER_HOST: webpack
      DISABLE_SPRING: 'true'
    ports:
      - "127.0.0.1:3000:3000"
    volumes:
      - ./app/:/usr/src/app
      - hitobito_bundle:/opt/bundle
      - seed:/seed
      - /tmp/.X11-unix:/tmp/.X11-unix
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
      - ./docker/rails/home/.bashrc:/home/developer/.bashrc
      - ./docker/rails/home/.pryrc:/home/developer/.pryrc
      - ./docker/rails/Gemfile.lock:/usr/src/app/hitobito/Gemfile.lock

  rails_test:
    <<: *rails
    profiles:
      - manual
    command: [ 'sleep', 'infinity' ]
    ports: []
    environment:
      RAILS_ENV: test
      WEBPACKER_DEV_SERVER_HOST: null
      SKIP_SEEDS: 1
      SKIP_BUNDLE_INSTALL: 1
    depends_on:
      - postgres

  worker:
    <<: *rails
    command: [ 'rails', 'jobs:work' ]
    ports: []
    environment:
      SKIP_RAILS_MIGRATIONS: 1
      SKIP_SEEDS: 1
      SKIP_BUNDLE_INSTALL: 1
    depends_on:
      - rails
      - postgres
      - mailcatcher
      - cache

  # Dependencies
  mailcatcher:
    image: ghcr.io/hitobito/development/mailcatcher
    build:
      context: ./docker/mailcatcher
    ports:
      - "127.0.0.1:1025:1025"
      - "127.0.0.1:1080:1080"

  cache:
    image: memcached:1.6-alpine
    command: [ memcached, -l, '0.0.0.0', -p, '11211' ]

  postgres:
    image: postgres:16
    env_file: ./docker/postgres.env
    ports:
      - "127.0.0.1:5432:5432"
    volumes:
      - ./docker/postgresql-setup.sql:/docker-entrypoint-initdb.d/postgresql-setup.sql:ro
      - ./docker/test-setup-postgresql.sql:/docker-entrypoint-initdb.d/test-setup-postgresql.sql:ro
      - postgres:/var/lib/postgresql/data
      
  webpack:
    build:
      context: ./docker/rails
    image: ghcr.io/hitobito/development/rails
    entrypoint: [ "webpack-entrypoint.sh" ]
    env_file: docker/rails/env
    environment:
      WEBPACKER_DEV_SERVER_HOST: webpack
      SKIP_BUNDLE_INSTALL: 1
    user: "${RAILS_UID:-1000}"
    command: /usr/src/app/hitobito/bin/webpack-dev-server
    ports:
      - "127.0.0.1:3035:3035"
    volumes:
      - ./app/:/usr/src/app
      - hitobito_bundle:/opt/bundle
      - hitobito_yarn_cache:/home/developer/.cache/yarn
      - ./docker/rails/Gemfile.lock:/usr/src/app/hitobito/Gemfile.lock

volumes:
  postgres:
  seed:
  hitobito_bundle:
    external: true
  hitobito_yarn_cache:
    external: true
